version: '3'

services:
  # Third-party services
  db:
    image: postgres:10.3-alpine
    environment:
      POSTGRES_USER: local
      POSTGRES_PASSWORD: hunter2
      POSTGRES_DB: goresolve
    ports:
      - 5432:5432
  faktory:
    image: contribsys/faktory:0.7.0
    expose:
      - 7419
    ports:
      - 7420:7420

  # go-resolve services
  go-resolve-api:
    build: .
    restart: unless-stopped
    command: [
      "go-resolve-api",
      "-db", "postgresql://local:hunter2@db:5432/goresolve?sslmode=disable",
      "-faktory", "tcp://faktory:7419",
      "-debug"
    ]
    depends_on:
      - db
      - faktory
    ports:
      - 80
  go-resolve-worker:
    build: .
    restart: unless-stopped
    command: [
      "go-resolve-worker",
      "-db", "postgresql://local:hunter2@db:5432/goresolve?sslmode=disable",
      "-faktory", "tcp://faktory:7419",
      "-debug"
    ]
    depends_on:
      - db
      - faktory
