//- bulma
//- blueprintjs

//- page: packages
//- search (rounded) input: filter packages by import path
//- html table: database
  //- page: packages / specific package
  //- display: information about that package

//- page: resolve
//- form: import path, expected revision, hashes
//- on enter -> proxy go-resolve-api response

//- page: index new package
//- form: import path
//- on enter -> redirect to task page

//- page: ongoing tasks
//- search (rounded) input: filter packages by import path
//- html table: all ongoing tasks
  //- page: ongoing tasks / specific task
  //- display: show streaming logs
